<% include partials/header %>

<h1>Brandon's node.js + express.js Template</h1>

<h2>Features</h2>
<ul>
  <li><a href="https://html5boilerplate.com/">HTML5 Boilerplate</a></li>
  <li>Initialized npm package.json for --saved packages.</li>
  <li>Packages
    <ul>
      <li>Express.js package</li>
      <li>ejs package</li>
      <li>body-parser</li>
    </ul>
  </li>

  <li>app.js
    <ul>
      <li>require express</li>
      <li>require body-parser</li>
      <li>use ejs for view engine</li>
      <li>use static files (public)</li>
      <li>Listen on localhost:3000</li>
      <li>GET Root</li>
      <li>GET Default: 404</li>
    </ul>
  </li>
  <li>/views (ejs)
    <ul>
      <li>index.ejs</li>
      <li>404.ejs</li>
      <li>/partials
        <ul>
          <li>header.ejs</li>
          <li>footer.ejs</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>/public/css
    <ul>
      <li>main.css</li>
      <li>nomralize.css</li>
    </ul>
  </li>
  <li>/public/js
    <ul>
      <li>main.js</li>
      <li>plugins.js</li>
    </ul>
  </li>
</ul>

<% include partials/footer %>
