<% include partials/header %>

<div class="container">
  <header>
    <h1>YelpCamp</h1>
    <h2>Campgrounds</h2>
  </header>
  <nav>
    <h3>Navigation</h3>
    <a href="/">Home</a>
    <br>
    <a href="/campgrounds">Campgrounds</a>
    <br>
    <a href="/campgrounds/new">Add Campground</a>
  </nav>
  <main>
    <h3>Locations</h3>
    <ul>
      <% viewCampgrounds.forEach(function(campground) { %>
        <h4>
        <%= campground.name; %>
        </h4>
        <img src="<%= campground.image%>" alt="Picture">
      <% }); %>
    </ul>
  </main>
  <aside>
    Aside
  </aside>
</div>

<% include partials/footer %>
