<% include partials/header %>

<div class="container">
  <% include partials/navbar %>

  <main>
    <h3>Locations</h3>
    <div class="row center-all wrap-image">
    <% viewCampgrounds.forEach(function(campground) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail fade-in">
          <img src="<%= campground.image%>" alt="Picture">
          <div class="caption">
            <%= campground.name; %>
          </div>
        </div>
      </div>
    <% }); %>
    </div>
  </main>
  <% include partials/footer %>
</div>
