<% include partials/header %>

<div class="container">
  <% include partials/navbar %>

  <header class="jumbotron">
    <h1>YelpCamp</h1>
    <p>View our handpicked campgrounds from all over the world.</p>
    <a href="/campgrounds">
      <button type="button" class="btn btn-info">Check 'em out!</button>
  </a>
  </header>
  <% include partials/footer %>
</div>
